@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,500");
/*=============================================
=            All Colors                       =
=============================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 100px 0;
  opacity: 0;
  -webkit-animation: 1 fadeIn 0.5s forwards;
          animation: 1 fadeIn 0.5s forwards;
  z-index: 1;
}

header h2 {
  font-family: "Roboto", sans-serif;
}

header h2 a {
  text-decoration: none !important;
  color: #cef19e !important;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
}

header nav li {
  list-style-type: none;
}

header nav li a {
  text-decoration: none !important;
  font-size: 18px -2;
  color: #571845;
  margin: 0 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Oswald", sans-serif;
}

header nav li a:hover {
  color: #cef19e;
}

header nav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #10a99c;
  margin: 0 auto;
  -webkit-transition: 0.3s width;
  transition: 0.3s width;
}

header nav li a:hover::after {
  width: 100%;
}

section.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .background-image {
  background: url("../img/Cover-Image.jpeg") no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

section.hero .background-image .background-overlay {
  position: absolute;
  background-color: #4c4d4f8e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

section.hero .background-image .hero-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 80px;
  opacity: 0;
  margin-top: 400px;
  color: #fbf9fc;
  -webkit-animation: 1s slideFade 1s forwards;
          animation: 1s slideFade 1s forwards;
}

section.hero .background-image .hero-section-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  margin-bottom: 15px;
}

section.hero .background-image .hero-section-content h2 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 45px;
}

section.hero .background-image .hero-section-content a.btn {
  padding: 20px 46px;
  text-decoration: none;
  border: 3px solid #10a99c;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

section.hero .background-image .hero-section-content a.btn:hover {
  background: #10a99c;
  border: 3px solid #10a99c;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideFade {
  100% {
    opacity: 1;
    margin-top: 100px;
  }
}

@keyframes slideFade {
  100% {
    opacity: 1;
    margin-top: 100px;
  }
}

section.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 80px;
}

section.destination h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

section.destination p {
  font-family: "Roboto", sans-serif;
  max-width: 775;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

section.destination hr {
  width: 250px;
  height: 3px;
  border: 0;
  background-color: #10a99c;
  margin-bottom: 50px;
}

section.destination .btn-info {
  background-color: #10a99c !important;
  border: 1px solid #10a99c !important;
  font-family: "Roboto", sans-serif !important;
  -webkit-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important;
}

section.destination .btn-info:hover {
  background-color: #ea652a !important;
  border: 1px solid #ea652a !important;
  -webkit-box-shadow: 0px 2px 3px #4c4d4f;
          box-shadow: 0px 2px 3px #4c4d4f;
}

section.destination .card-body p {
  text-align: justify !important;
}

hr {
  width: 250px;
  height: 3px;
  border: 0;
  background-color: #10a99c;
  margin: auto;
}

section.gallery-section .card {
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 3px #cef19e !important;
          box-shadow: 0px 2px 3px #cef19e !important;
}

section.gallery-section .icon-div {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

section.gallery-section i {
  font-size: 45px;
  padding: 16px;
  color: #571845;
}

section.gallery-section .card-body:hover div.icon-div {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

section.gallery-section div.gallery-image {
  background: #cef19e;
  width: 300px;
  height: 200px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.gallery-section .card-body:hover img {
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

section.tour-package h3 {
  font-family: #cef19e;
}

section.tour-package p {
  font-family: "Roboto", sans-serif;
  max-width: 50%;
  margin: auto;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

section.tour-package .container p {
  font-family: #cef19e !important;
  max-width: 100% !important;
  text-align: center !important;
}

section.tour-package .container i {
  font-size: 45px;
  color: #10a99c;
}

section.testimonial h3 {
  font-family: "Roboto", sans-serif;
}

section.testimonial .card {
  border: none !important;
}

section.newsletter h3 {
  font-family: "Roboto", sans-serif;
}

section.newsletter p {
  text-align: center;
  margin-bottom: 30px;
}

section.newsletter i {
  margin-right: 10px;
}

section.main-footer ul {
  display: inline-block;
}

section.main-footer ul li {
  list-style-type: none;
}

section.main-footer ul li a {
  text-decoration: none;
  color: #10a99c;
  display: block;
}

section.main-footer ul li a:hover {
  color: #cef19e;
}

section.main-footer #social-icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  padding: 13px 15px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.main-footer #social-icon i {
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

section.main-footer #social-icon:nth-child(1) {
  padding: 14px 19px !important;
  background: #3b5999;
}

section.main-footer #social-icon:nth-child(2) {
  background: #e4405f;
}

section.main-footer #social-icon:nth-child(3) {
  background: #55acee;
}

section.main-footer #social-icon:nth-child(4) {
  background: #25d366;
}

section.main-footer #social-icon:nth-child(5) {
  padding: 13px 12px !important;
  background: #cd201f;
}

section.main-footer #social-icon:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

section.main-footer .arrow {
  font-size: 30px;
}

section.main-footer .arrow a {
  color: #10a99c;
}
/*# sourceMappingURL=style.css.map */