@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,500");
@import "./mixins";
/*=============================================
=            All Colors                       =
=============================================*/

$white: #ffffff;
$red: red;
$blue: blue;
$green: green;
$lightGreen: lightgreen;
$abbey: #4c4d4f;
$blue-chill: #10a99c;
$flamingo: #ea652a;
$mine-shift: #373737;
$wine-berry: #571845;
$overlay: #4c4d4f8e;
$primary-color: #cef19e;
// Fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Oswald", sans-serif;
// Font Size
$font-size: 18px;
$icont-size: 45px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mobile_navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  background: #464646;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    // padding: 20px;
    width: 100%;

    li {
      &:first-child {
        margin-top: 20px;
      }
      margin-bottom: 20px;
      width: 100%;

      a {
        text-align: center;
        text-decoration: none;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        padding: 15px 20px;
        font-size: 17px;
        color: #f2f2f2;
        &:hover {
          background: rgba(0, 0, 0, 0.2);
          border-right: 4px solid $blue-chill;
        }
      }
    }
  }
}

#close_nav {
  background: transparent;
  box-shadow: 1.54px 1.78px 2px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid $blue-chill;
  position: relative;
  color: #f3f3f3;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: $red;
  }

  i {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px;
  width: 100%;
  background: #464646;

  h2 {
    font-family: $primary-font;
    a {
      text-decoration: none !important;
      color: $primary-color !important;
    }
  }

  .menu__btn {
    display: none;
    color: #f2f2f2;
    i {
      font-size: 22px;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    // width: 50%;
    margin-top: 15px;

    li {
      list-style-type: none;
      a {
        text-decoration: none !important;
        font-size: $font-size -2;
        color: #f2f2f2;
        margin: 0 20px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-family: $secondary-font;
      }
      @include navLinkStyle;
    }
  }
}

.menu__btn {
  text-decoration: none;
}

.hero {
  display: flex;
  .background-image {
    background: url("../img/Cover-Image.jpeg") no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    .background-overlay {
      position: absolute;
      background-color: $overlay;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
    .hero-section-content {
      text-align: center;
      padding: 100px 80px;
      opacity: 0;
      margin-top: 400px;
      // color: $flamingo;
      color: #fbf9fc;
      animation: 1s slideFade 1s forwards;
      h1 {
        font-family: $primary-font;
        font-size: 60px;
        margin-bottom: 15px;
      }
      h2 {
        font-family: $secondary-font;
        margin-bottom: 45px;
      }
      a.btn {
        padding: 20px 46px;
        text-decoration: none;
        border: 3px solid $blue-chill;
        // background: $blue-chill;
        text-transform: uppercase;
        color: $white;
        border-radius: 6px;
        font-family: $primary-font;
        font-size: $font-size;
        transition: 0.2s all ease-in;
      }
      a.btn:hover {
        background: $blue-chill;
        border: 3px solid $blue-chill;
      }
    }
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideFade {
  100% {
    opacity: 1;
    margin-top: 100px;
  }
}

section.destination {
  .card__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 30px;
    margin: 10px 20px;
  }

  .destination__card {
    text-align: center;
  }

  h3 {
    font-family: $secondary-font;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
  p {
    font-family: $primary-font;
    max-width: 775;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  hr {
    width: 250px;
    height: 3px;
    border: 0;
    background-color: $blue-chill;
    margin-bottom: 50px;
  }
  .btn-info {
    background-color: $blue-chill !important;
    border: 1px solid $blue-chill !important;
    font-family: $primary-font !important;
    transition: all 0.2s ease-out !important;
  }
  .btn-info:hover {
    background-color: $flamingo !important;
    border: 1px solid $flamingo !important;
    box-shadow: 0px 2px 3px $abbey;
  }
  .card-body {
    p {
      text-align: justify !important;
    }
  }
}

hr {
  width: 250px;
  height: 3px;
  border: 0;
  background-color: $blue-chill;
  margin: auto;
}

section.gallery-section {
  .card {
    overflow: hidden;
    box-shadow: 0px 2px 3px $primary-color !important;
    margin-bottom: 20px;
  }
  .icon-div {
    position: absolute;
    width: 80px;
    height: 80px;
    background: $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
  i {
    font-size: $icont-size;
    padding: 16px;
    color: $wine-berry;
  }
  .card-body:hover div.icon-div {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease-out;
  }
  div.gallery-image {
    background: $primary-color;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease-in-out;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .card-body:hover img {
    opacity: 0.6;
    filter: grayscale(100%);
  }
}

section.tour-package {
  h3 {
    font-family: $primary-color;
  }
  p {
    font-family: $primary-font;
    max-width: 50%;
    margin: auto;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .container {
    p {
      font-family: $primary-color !important;
      max-width: 100% !important;
      text-align: center !important;
    }
    i {
      font-size: $icont-size;
      color: $blue-chill;
    }
  }
}

section.testimonial {
  h3 {
    font-family: $primary-font;
  }
  .card {
    border: none !important;
  }
}

section.newsletter {
  h3 {
    font-family: $primary-font;
  }
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  i {
    margin-right: 10px;
  }
}

section.main-footer {
  ul {
    display: inline-block;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: $blue-chill;
        display: block;
      }
      a:hover {
        color: $primary-color;
      }
    }
  }
  #social-icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    padding: 13px 15px !important;
    border-radius: 5px !important;
    transition: all 0.3s ease-in-out;
    i {
      font-size: 25px;
      align-items: center;
      color: $white;
    }
  }
  #social-icon:nth-child(1) {
    padding: 14px 19px !important;
    background: #3b5999;
  }
  #social-icon:nth-child(2) {
    background: #e4405f;
  }
  #social-icon:nth-child(3) {
    background: #55acee;
  }
  #social-icon:nth-child(4) {
    background: #25d366;
  }
  #social-icon:nth-child(5) {
    padding: 13px 12px !important;
    background: #cd201f;
  }
  #social-icon:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  .arrow {
    a {
      color: $blue-chill;
    }
    font-size: 30px;
  }
}

@media (max-width: 675px) {
  .navbar {
    ul {
      display: none;
    }
    .menu__btn {
      display: block;
    }
  }
}

@media (max-width: 611px) {
  .hero-section-content {
    margin-top: 200px;
    padding: 0px 0px;
    h1 {
      font-size: 17px;
    }
  }
}
